<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="p-0">
  <!-- <ion-list-header>
    <ion-label class="top-label">Sign In</ion-label>
  </ion-list-header> -->
  <div class="top-header position-relative">
    <div class="common-head-bg position-absolute">
      <img
        src="assets/screens/login-top-bg.png"
        alt="Astro360"
        width="176"
        height="242"
        class=""
      />
    </div>
    <div class="logo position-relative">
      <img src="assets/screens/logo.png" alt="Astro360" class="img-fluid" />
    </div>
  </div>
  <div class="common-card ion-text-center">
    <ion-card class="common-shadow border-radius-0 common-border">
      <ion-card-content>
        <h2 class="font-size-16 font-weight-bold primary-text-color lineheight-24">
          Thnak you for registering<br> with Astro360
        </h2>
        <div class="forgot-icon ion-display-flex justify-content-center">
          <div class="avatar-forgot border-radius-25">
            <img src="assets/screens/forgot-password.png" alt="Astro360" class="img-fluid" />
          </div>
        </div>
        <p class="ion-text-center m-0 lineheight-24">Please insert OTP sent to your mobile<br>
          to complete the registration</p>
        <form>
          <div class="">
            <div class="ion-display-flex align-items-center">
              <ion-item>
                <ion-label
                  class="font-size-14 ion-text-center primary-text-color2"
                  position="floating"
                  >OTP</ion-label
                >
                <ion-input></ion-input>
              </ion-item>
              <!-- <ion-icon class="common-icon-ion" name="lock-closed-outline"></ion-icon> -->
            </div>
          </div>
          <div class="timer-box m-t-20">
            <p class="ion-text-center font-size-14 primary-text-color">Didn't receive the OTP?</p>
            <h3 class="font-size-20 m-t-10 primary-text-color">02:08</h3>
          </div>
          <ion-button class="common-btn m-t-30" type="submit"
            >Verify</ion-button
          >
          <!-- <div class="register my-20">
            <p class="font-size-14 m-0">
              <span class="primary-text-color3">Back To Login</span>
            </p>
          </div> -->
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
