<ion-content>
  <div class="p-20">
    <ion-card class="border-radius-0 box-shadow top-head">
      <ion-card-content class="p-0">
        <div class="ion-display-flex align-items-center">
          <div class="avatar m-r-10">
            <ion-icon
              class="font-size-20 text-white"
              name="newspaper-outline"
            ></ion-icon>
          </div>
          <div class="flex-block">
            <h2
              class="
                font-size-16 font-weight-bold
                primary-text-color
                text-uppercase
                m-0
              "
            >
              Terms &amp; Conditions
            </h2>
            <span class="primary-text-color2 font-size-12"
              >Last Update July 2021</span
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="border-radius-0 box-shadow">
      <ion-card-content class="middle-text">
        <h4 class="font-size-16 font-weight-bold primary-text-color m-b-10">
          1.Terms
        </h4>
        <p class="font-size-16 primary-text-color m-b-30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed modo
          viverra maecenas accumsan lacus vel facilisis.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed modo viverra maecenas accumsan
          lacus vel facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed modo viverra maecenas accumsan lacus vel facilisis.
        </p>
        <h4 class="font-size-16 font-weight-bold primary-text-color m-b-10">
          2.Use License
        </h4>
        <p class="font-size-16 primary-text-color">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed modo
          viverra maecenas accumsan lacus vel facilisis.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed modo viverra maecenas accumsan
          lacus vel facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed modo viverra maecenas accumsan lacus vel facilisis.
        </p>
        <ion-row>
          <ion-col class="ion-text-center" size="6">
            <ion-button class="common-btn m-t-20 decline-btn" type="submit" (click)="dismiss()">Decline</ion-button>
          </ion-col>
          <ion-col class="ion-text-center" size="6">
            <ion-button class="common-btn m-t-20" type="submit">Accept</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
