<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label class="top-label">Sign In</ion-label>
  </ion-list-header>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(email.dirty || email.touched) && email.errors"
        class="errors"
      >
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(password.dirty || password.touched) && password.errors"
        class="errors"
      >
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength"
          >Password needs to be 6 characters</span
        >
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
      >Log in</ion-button
    >
    <ion-button type="button" expand="block" color="primary" fill="clear"
      >Not yet a member? Sign up!
    </ion-button>
    <ion-item-divider slots="start">
      <ion-label> or use one of your social profiles </ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          expand="block"
          color="tertiary"
          (click)="googlelogin()"
        >
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Sign in with Google
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          expand="block"
          color="secondary"
          (click)="fblogin()"
        >
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Sign in with Facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
