<ion-content class="p-0">
  <div class="top-header position-relative">
    <div class="common-head-bg position-absolute">
      <img src="assets/screens/login-top-bg.png" alt="Astro360" width="176" height="242" class="">
    </div>
    <div class="logo position-relative">
      <img src="assets/screens/logo.png" alt="Astro360" class="img-fluid">
    </div>
  </div>
  <div class="common-card ion-text-center">
    <ion-card class="common-shadow border-radius-0 common-border">
      <ion-card-content>
        <h2 class="font-size-24 font-weight-bold primary-text-color">Hello</h2>
        <p class="font-size-16 font-weight-semi primary-text-color m-t-10">Create Account</p>
        <form class="m-t-15">
          <div class="">
            <div class="ion-display-flex align-items-center">
              <ion-item>
                <ion-label class="font-size-14 primary-text-color2" position="floating">Mobile / Email Id</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-icon class="common-icon-ion" name="person-outline"></ion-icon>
            </div>
            <!-- <div class="ion-display-flex align-items-center">
              <ion-item>
                <ion-label class="font-size-14 primary-text-color2" position="floating">OTP</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-icon class="common-icon-ion" name="eye-outline"></ion-icon>
            </div> -->
          </div>
          <div class="signup-text ion-display-flex justify-content-center my-15">
            <ion-checkbox></ion-checkbox>
            <p class="m-l-5">By signing up, you agree to our
              <br>
              <a (click)="openTerms()"><span class="primary-text-color3">Terms of use</span> &amp; <span class="primary-text-color3">Privacy Policy</span></a>
            </p>
          </div>
          <ion-button class="common-btn m-t-20" type="submit">Sign Up</ion-button>
          <div class="ion-text-center m-t-20 m-b-20">
            <p class="m-0 font-size-14 primary-text-color">Or Sign Up using social Media</p>
          </div>
          <ion-row class="m-t-20 m-b-20">
            <ion-col size="6">
              <div class="ion-text-end">
                <ion-button class="icon facebook ion-text-end"
                type="button"
                (click)="fblogin()"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-start">
                <ion-button class="icon google"
                type="button"
                (click)="googlelogin()"
              >
                <ion-icon name="logo-google"></ion-icon>
              </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="register my-10" (click)="login()">
      <p class="font-size-14 m-0">Do you have any account? <span class="primary-text-color3">Login Now</span></p>
    </div>
  </div>
</ion-content>
