ion-content {
    // --padding-top: 10%;
    // --padding-start: 10%;
    // --padding-end: 10%;
    --background: #f8f7fc;
  }
  
  ion-card {
    margin-right: 16px;
    margin-left: 16px;
  }
  
  .top-label {
    font-size: large;
  }
  
  .input-group {
    // background: #fff;
    // border-radius: 10px;
    // overflow: hidden;
    // margin-bottom: 15px;
  }
  
  ion-item {
    width: 100%;
    --border-color: #bababa;
    --background: transparent;
  }
  
  ion-icon.common-icon-ion {
    color: #f8d843;
    position: relative;
    right: 10px;
    top: 10px;
  }
  
  .errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .top-header {
    text-align: center;
    .common-head-bg {
      right: 0;
    }
    .logo {
      top: 60px;
  }
  }
  
  .common-card {
    margin-top: 90px;
  }

  .avatar-forgot {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(129, 129, 129, 0.15);
    margin-top: 25px;
    margin-bottom: 25px;
  }

  