<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <!-- Slide 1 -->
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <div>
              <img
                style="width: 50%; height: 50%"
                src="../../../assets/screens/signin.png"
              />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button (click)="next()" fill="outline" color="light"
                >Next</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <a class="anchor" (click)="start()">Skip Tutorial</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <div>
              <img
                style="width: 50%; height: 50%"
                src="../../../assets/screens/dashboard.png"
              />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button (click)="next()" fill="outline" color="light"
                >Next</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <a class="anchor" (click)="start()">Skip Tutorial</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <div>
              <img
                style="width: 50%; height: 50%"
                src="../../../assets/screens/daily-horoscope.png"
              />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button (click)="next()" fill="outline" color="light"
                >Next</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <a class="anchor" (click)="start()">Skip Tutorial</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide 4 -->
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <div>
              <img
                style="width: 50%; height: 50%"
                src="../../../assets/screens/talk-with-astrologer.png"
              />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button (click)="start()" fill="outline" color="light"
                >Start</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
