<ion-header>
  <ion-toolbar class="common-header">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard">
  <div class="dash-top">
    <ion-row>
      <ion-col size="3">
        <div class="avatar-icon">
          <img src="assets/screens/daily-horoscope.png" alt="Astro360" class="img-fluid" />
        </div>
        <p class="m-0 lineheight-16">Daily<br>Horoscope</p>
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
  </div>
</ion-content>
